{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% load custom_filter %}
{% load cart %}

{% block content %}


{% if not request.session.cart %}
<center>
    <h2>Thanks</h2>
    <p>Your order has been placed</p>
    <button style="background: none; border: none;"><a target="_blank" href="{% url 'create_invoice' %}" class="btn btn-primary float-left">View Invoice</a></button>
</center>
{% else %}


<main>
  <!-- Hero Area Start-->
  <div class="slider-area ">
      <div class="single-slider slider-height2 d-flex align-items-center">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">
                          <h2>Checkout</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--================Checkout Area =================-->



<div class="container col-8 my-5 br-2 rounded">
  <div class="row g-3">
      <div style="border:1px solid rgb(201, 190, 190); border-radius: 5px; padding: 15px" class="col-4 order-md-last">
          <h4 class="d-flex justify-content-between align-item-center">
              <span class="">Your Cart</span>
              <span class="badge bg-secondary rounded-pill">{{request.session.cart.keys|length}}</span> <span class="sr-only" >(current)</span>
          </h4>
          {% for items in pr %}
          <ul class="list-group">
              <li class="list-group-item d-flex">
                <div class="">

                  <a href="{% url 'p_details' items.Product_ID %}"><span><img style="height:50px; width: 50px;" src="{{ items.Product_Image1.url }}" alt=""></span></a>
                </div>
                <div class="col-lg-8">
                  <a href="{% url 'p_details' items.Product_ID %}"><h6>{{ items.Product_Title }}</h6></a>
                      Qty:{{ items|cart_quantity:request.session.cart }}
                  </div>
                  <span class="">{{ items|price_total:request.session.cart|currency }}</span>
              </li>
          </ul>
          {% endfor %}
          <div class="mt-2 float-right">
            <h6>Total: {{ pr|total_cart_price:request.session.cart|currency }}</h6>
          </div>
      </div>
      <div class="col-8">
          <h4>Shipping Details</h4>
          <h6 style="color: red;">Please enter the correct details to avoid interuptions in delivery process.</h6>
          <form action="/checkout" method="POST">
            {% csrf_token %}
              <div class="row">
                  <div class="col-6">
                      <label class="form-label" for="fname">First Name</label>
                      <input type="text" name="fname" class="form-control" required>
                  </div>
                  <div class="col-6">
                      <label class="form-label" for="lname">Last name</label>
                      <input type="text" name="lname" class="form-control" required>
                  </div>
                  <div class="col-12">
                      <label class="form-label" for="contact">Phone Number </label>
                      <input type="text" name="contact" class="form-control" required>
                  </div>
                  <div class="col-12">
                      <label class="form-label" for="address">Address </label>
                      <input type="text" name="address" class="form-control" required>
                  </div>
                  <div class="col-3">
                      <label class="form-label" for="city">City </label>
                      <select class="form-select" name="city" required>
                          <option>Choose</option> 
                          <option>Habibabad</option>
                      </select>
                  </div>
                  
                  <div class="col-3">
                      <label class="form-label" for="province">Province </label>
                      <select class="form-select" name="province" required>
                          <option>Choose</option>
                          <option>Balochistan</option>
                          <option>KPK</option>
                          <option>Punjab</option>
                          <option>Sindh</option>
                      </select>
                  </div>

                  <div class="col-3">
                    <label class="form-label" for="distt">District </label>
                    <select class="form-select" name="distt" required>
                        <option>Choose</option> 
                        <option>Kasur</option>
                    </select>
                </div>
                  <div class="col-3">
                      <label class="form-label" for="zip">Zip </label>
                      <input type="text" name="zip" class="form-control" required>
                  </div>
              </div>
              <hr>
              <h4>Payment</h4>
              <!-- <div class="form-check">
                  <input type="radio" class="form-check-input">
                  <label class="form-check-label">Credit Card</label>
              </div>
              <div class="form-check">
                  <input type="radio" class="form-check-input">
                  <label class="form-check-label">Debit Card</label>
              </div> -->
              <!-- <div class="row">
                  <div class="col-6">
                      <label class="form-label" for="cardname">Name on Card </label>
                      <input type="text" id="cardname" class="form-control">
                      <small class="text-muted">Full name as displayed on card</small>
                  </div>
                  <div class="col-6">
                      <label class="form-label" for="creditcard">Credit Card Number </label>
                      <input type="text" id="creditcard" class="form-control">
                  </div>
                  <div class="col-6">
                      <label class="form-label" for="expiration">Expiration </label>
                      <input type="text" id="expiration" class="form-control">
                  </div>
                  <div class="col-6">
                      <label class="form-label" for="cvv">CVV </label>
                      <input type="text" id="cvv" class="form-control">
                  </div>
              </div> -->

              <!-- Set up a container element for the button -->
            

              <hr>
              <script type="text/javascript">
                function ShowHideDiv() {
                    var chkYes = document.getElementById("chkYes");
                    var dvPassport = document.getElementById("dvPassport");
                    dvPassport.style.display = chkYes.checked ? "block" : "none";
                }
            </script>
            <!-- <span>Payment Method?</span> -->
            <label for="chkYes">
                <input type="radio" id="chkYes" name="chkPassPort" onclick="ShowHideDiv()" />
                PayPal
            </label>
            <br>
            <label for="chkNo">
                <input type="radio" id="chkNo" name="chkPassPort" onclick="ShowHideDiv()" / checked="checked">
                Cash On Delivery
            </label>
            <hr />
            <div id="dvPassport" style="display: none">
                <!-- <div>
                    <button>Hello</button>
                </div> -->
                <div id="paypal-button-container">
                    <!-- Include the PayPal JavaScript SDK -->
               <script src="https://www.paypal.com/sdk/js?client-id=AcuD-w7xKHStJKuRVq3Vpgbq1UYY55eCvrlWLZNRrW383GcevxkscE6y7L7kof_vC12RbV2QQbHMzetY&currency=USD"></script>
            
               <script>
                   var total = '{{ pr|total_cart_price:request.session.cart }}'
                   // Render the PayPal button into #paypal-button-container
                   paypal.Buttons({
            
                       // Set up the transaction
                       createOrder: function(data, actions) {
                           return actions.order.create({
                               purchase_units: [{
                                   amount: {
                                       value: total
                                   }
                               }]
                           });
                       },
            
                       // Finalize the transaction
                       onApprove: function(data, actions) {
                           return actions.order.capture().then(function(details) {
                               // Show a success message to the buyer
                               alert('Transaction completed by ' + details.payer.name.given_name + '!');
                           });
                       }
            
            
                   }).render('#paypal-button-container');
               </script>
            
            </div>
                <!-- Passport Number: -->
                <!-- <input type="text" id="txtPassportNumber" /> -->
            </div>
            
        {% if pr %}
         <br><br>
            <input class="btn btn-primary profile-button" type="submit" value="Checkout">
            {% endif %}
          </form>
      </div>
  </div>
</div>
{% endif %}

        
  
    



  {% endblock %}