{% load static %}
{% load custom_filter %}
{% load cart %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/userprofile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dropdown.css' %}">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>Document</title>
    <style type="text/css">
     th,td{
         padding: 3px;
     }
     th{
         background-color: grey;
         color: white;
     }
    .c1 p{
        color: blue;
     }
     .header{
         display: flex;
         flex-direction: row;
     }
    </style>
</head>
<body>
    <table>
        {% for items in wi %}
        <tr>
            <td><strong>Address:</strong>{{ items.Address }}</td>
            <td><strong>Phone:</strong> {{ items.Contact }}</td>
        </tr>
        <tr>
            <td><strong>City:</strong>{{ items.City }}</td>
            <td><strong>Email:</strong>{{ items.Email }}</td>
        </tr>
        <tr>
            <td><strong>Zipcode:</strong>{{ items.Zip_Code }}</td>
            <td><strong>Website:</strong>{{ items.Website }}</td>
        </tr>
        {% endfor %}
</table>
    
    <p  style="text-align: center;">Order Details</p>
    <table class="table border">
        <thead>
          <tr>
   
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
          </tr>
          </thead>
          <tbody>
          {% for items in pr %}
           <tr class="tr border">
   
              <td>{{items.Product_Title}}</td>
              <td>{{items.Product_Price}}</td>
              <td>{{ value }}</td>
              
          </tr>
          {% endfor %}
          </tbody>
  
    </table>
  
      <hr>
  
      <p><strong>Total:{{ total }}</strong></p>

</body>
</html>
